.cus-button{
  border-radius: unset;
  border: none;
  color: black;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
}

.cus-button:hover {
  color: unset !important;
  border-color: unset !important;
}
