.payment-info {
  .ant-steps {
    margin: auto;
    width: 80%;
  }
  .ant-steps .ant-steps-item-process.ant-steps-item-custom .ant-steps-item-icon >.ant-steps-icon {
    color: var(--color-red) !important;
  }
  
  .ant-steps .ant-steps-item-finish.ant-steps-item-custom .ant-steps-item-icon >.ant-steps-icon {
    color: var(--color-red) !important;
  }
  
  .ant-steps.ant-steps-navigation .ant-steps-item::before {
    background-color: var(--color-red) !important;
  }

  .ant-steps .ant-steps-item:not(.ant-steps-item-active):not(.ant-steps-item-process)>.ant-steps-item-container[role='button']:hover .ant-steps-item-icon .ant-steps-icon {
    color: var(--color-red) !important;
  }

  .ant-steps .ant-steps-item:not(.ant-steps-item-active)>.ant-steps-item-container[role='button']:hover .ant-steps-item-title {
    color: var(--color-red) !important;
  }
  
  .content {
    background-color: #fff;
    width: 60%;
    margin: auto;
    padding: 10px;
  }

  .form {
    h6 {
      font-weight: 700;
    }

    .input-info {
      line-height: 30px !important;
      padding: 6px 12px;
      border-radius: 10px;
      font-size: 16px;
      background-color: #fff !important;
    }

    .ant-form-item {
      margin-bottom: 10px;
    }

    .ant-radio-group {
      margin-left: 5px;
    }

    .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
      border-color: var(--color-red);
      background-color: var(--color-red);
    }

    .ant-radio-wrapper:hover .ant-radio-inner {
      border-color: var(--color-red);
    }

    .address {
      padding: 10px;
      margin-bottom: 15px;
      background-color: #f3f4f6;
      border: 1px solid #ced4da;

      .select {
        width: 100% !important;
      }

      .input {
        height: 30px;
      }
      
      .ant-input {
        background-color: #fff !important;
      }
    }

    .choose-address {
      border: 1px solid #ced4da;
      padding: 5px 15px 0;
      border-radius: 10px;
      margin-bottom: 15px;
    }
  }

  .btn-apply-coupon {
    margin-left: 15px;
    background-color: var(--color-red);
    height: 45px;
    color: #fff;
  }

  .btn-apply-coupon:hover {
    color: #fff !important;
  }

  .uppercase {
    text-transform: uppercase !important;
  }

  .box-info {
    text-align: center;

    h4 {
      margin: auto;
      color: var(--color-red);
      font-size: 1.2rem;
      font-weight: 600;
    }

    .label {
      font-size: 18px;
    }

    .info {
      margin-left: 10px;
    }
  }

  .see-lits-product {
    color: blue;
    cursor: pointer;
  }

  .see-lits-product:hover {
    text-decoration: underline;
  }

}

.title {
  display: flex;
  align-items: center;
  cursor: pointer;
  img {
    width: 60px;
  }

  span {
    margin-left: 15px;
    font-weight: 500;
  }
}

.completed-order {
  span {
    color: #616161;
  }
}