.store-wrapper {

	.sub-title{
		font-size: 14px;
		font-weight: 600;
		color: var(--color-1c1c1b);
		margin: 15px 0;
	}

	.form-check-input:checked {
		background-color: var(--color-febd69);
		border-color: var(--color-febd69);
	}

	.form-check-input {
		box-shadow: none;
		border-color: rgba(0,0,0,0.25);
	}
	
	.form-check-label {
		line-height: unset;
		margin-bottom: 8px;
	}

	.product-tags {
		span {
			background-color: var(--color-ededed);
			color: #6c757d;
			border-radius: 0.3rem;
			padding: 0.5rem 1rem;
			cursor: pointer;
		}
	}

	.list-product {
		min-height: 1000px;
	}

	.filter-sort-grid {
		padding: 15px;
		background-color: #fff;
		border-radius: 10px;
	}

}