.wishlist-wrapper {
	min-height: 70vh;
	.wishlist-card .cross {
		top: 10px;
		right: 15px;
		width: 25px;
		cursor: pointer;
		padding: 3px;
	}

	.wishlist-card h5.title {
		font-size: 15px;
		line-height: 22px;
		font-weight: 500;
		color: var(--color-1c1c1b);
	}

	.wishlist-card h6.price {
		font-size: 15px;
		line-height: 22px;
		font-weight: 400;
	}
}