.auth-card {
	padding: 30px;
	background-color: #fff;
	width: 550px;
	margin: 30px auto;
	border-radius: 10px;
	margin-bottom: 150px;
	box-shadow: 0 0 10px #0000001a;

	.ant-form-item {
		margin-bottom: unset !important;
	}

	.forgot-password {
		color: var(--color-1c1c1b);
		font-size: 14px;
		font-weight: 400;
	}

	.form-control {
		height: 50px;
		margin-bottom: 8px;
		background-color: var(--color-f5f5f7);
		color: var(--color-777777);
		font-size: 14px;
		border-radius: 10px;
		border: transparent;
	}

	h3 {
		font-size: 19px;
		font-weight: 500;
		color: var(--color-3b4149);
	}

	h5 {
		font-size: 14px;
		font-weight: 500;
		color: var(--color-777777);
	}
	
	.cancel {
		color: black;
	}
}
