.card-wrapper {
  min-height: 85vh;
	.title {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      width: 60px;
    }

    span {
      margin-left: 15px;
      font-weight: 500;
    }
  }

  .total {
    background-color: #fff;
    padding: 15px;
    width: 60%;
    margin: auto;

    .total-money {
      color: var(--color-red);
      font-weight: 600;
    }
  }

  .quantity {
    display: flex;
    align-items: center;
    justify-content: center;

    .input-quantity {
      width: 60px;
      max-width: fit-content;
    }
  }

  .cart-btn {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    font-weight: 600;
  }

  .next {
    background-color: var(--color-red);
    color: #fff !important;
  }

  .next:hover {
    color: #fff !important;
  }

  .buy {
    color: var(--color-red);
    border: 1px solid var(--color-red);
  }

  .buy:hover {
    background-color: #dc3545;
    color: #fff !important;
    border: none;
  }
}