.contact-wrapper {
	padding: 30px 20px;
	border-radius: 15px;
	gap: 15px;
	background-color: #fff;
}

.contact-wrapper > div {
	width: 48%;
}

.map {
		width: 100%;
		height: 500px;
		margin: auto;
		border: 0;
}

.contact-title {
	font-size: 26px;
	font-weight: 500;
	line-height: 35px;
	text-align: left;
	margin-top: 0;
}

.contact-wrapper form .form-control {
	background-color: var(--color-f5f5f7);
	border-radius: 10px;
	border-color: transparent;
	padding: 10px;
}