.container {
  display: flex;
  position: relative;
  height: 1000px;

  .left-col {
    width: 25%;
    height: 100vh;
    position: sticky;
    top: 10px;
    background-color: #f6fbfc;
  
    .block-menu {
      padding: 10px;

      .menu-item {
        padding: 7px 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 15px;
        cursor: pointer;
      }

      .active {
        color: var(--color-red);
        background-color: #fee;
        border-radius: 10px;
        border: 0.5px solid var(--color-red);
      }
    }
  }

  .right-col {
    width: 75%;
    padding: 0 25px;

    .hello-user {
      height: 300px;
      border: .5px solid #e7e7e7;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .img{
        width: 70px;
        padding: 5px;
        border: 1px solid gray;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 60px;
          height: 60px;
        }
      }

      .text {
        margin-top: 5px;
        font-size: 16px;
      }

      .name {
        font-weight: 700;
        color: var(--color-red2);
        font-size: 21px;
        text-transform: uppercase;
      }

      .content {
        width: 100%;
        margin-top: 5px;

        .item {
          display: flex;
          flex-direction: column;
          align-items: center;

          span {
            margin-top: 5px;
            font-size: 16px;
          }

          .red {
            color: var(--color-red2);
          }
        }
      }
    }

    .color {
      background-color: #fff5e6;
      height: 300px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;

      .block-title {
        margin: 15px auto;

        .title {
          border-radius: 10px;
          background-color: var(--color-red2);
          text-transform: uppercase;
          color: #fff;
          padding: 7px 20px;
          font-size: 20px;
          font-weight: 700;
        }
      }
    }

    .info-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .img {
        margin-top: 16px;

        img {
          width: 100px;
          height: 100px;
        }
      }

      .name {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
      }

      .form-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;

        span {
          min-width: 150px;
        }

        .ant-form-item {
          margin-bottom: unset;
        }

        .ant-input {
          line-height: 20px;
          width: 300px;
        }

        .info {
          width: 300px;
        }
      }
    }
  }
}

.btn-update {
  margin: 20px 0;
  font-size: 14px;
  cursor: pointer;
  display: block;
  background: #e0052b;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding: 11px 0;
  width: 100%;
  height: auto;
}

.btn-update:hover {
  color: #fff !important;
}

.add-address {
  padding: 10px;
  margin-bottom: 15px;

  .select {
    width: 100% !important;
  }

  .input {
    height: 30px;
  }
  
  .ant-input {
    background-color: #fff !important;
  }
}

.block-address {
  margin-top: 20px;

  .address {
    padding: 10px;
    display: flex;
    cursor: pointer;
    border-radius: 10px;

    img {
      width: 45px;
      height: 45px;
    }

    .content {
      margin-left: 20px;
      display: flex;
      flex-direction: column;

      .name {
        font-size: 17px;
        font-weight: 700;
      }

      .content-address {
        font-size: 13px;
        color: #4a4a4a;
      }
    }
  }

  .address:hover {
    background-color: var(--color-ededed);
  }
}

.btn-option {
  width: 200px;
}

.btn-update-address {
  border: 1px solid var(--color-red2);
}

.btn-delete {
  background-color: var(--color-red);
  color: #fff;
}

.btn-delete:hover {
  color: #fff !important;
}

.see-more {
  cursor: pointer;
  color: blue;
}

.see-more:hover {
  text-decoration: underline;
}

.order {
  .title {
    display: flex;
    align-items: center;
    cursor: pointer;
    img {
      width: 60px;
    }

    span {
      margin-left: 15px;
      font-weight: 500;
    }
  }

  .label {
    margin-left: 20px;
    min-width: 250px;
    font-size: 15px;
    display: flex;
    align-items: center;
  }

  .content {
    font-size: 15px;
  }
}

.img-slide{
  width: 100%;
  cursor: pointer;
}

.slider {
  width: 290px;
}

.slider:where(.css-dev-only-do-not-override-w8mnev).ant-slider .ant-slider-track { 
  background-color: #e0052b;
}

:where(.css-dev-only-do-not-override-w8mnev).ant-slider:hover .ant-slider-handle::after {
  box-shadow: 0 0 0 2px #e0052b;
}

:where(.css-dev-only-do-not-override-w8mnev).ant-slider .ant-slider-handle::after {
  box-shadow: 0 0 0 2px #e0052b
}

:where(.css-dev-only-do-not-override-w8mnev).ant-slider .ant-slider-handle:hover::after, :where(.css-dev-only-do-not-override-w8mnev).ant-slider .ant-slider-handle:active::after, :where(.css-dev-only-do-not-override-w8mnev).ant-slider .ant-slider-handle:focus::after {
  box-shadow: 0 0 0 4px#e0052b
}