.btn-scroll-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  background-color: #e0495a;
  z-index: 1000;
}