.single-blog-card {
	width: 80%;
	margin: auto;
	a {
		font-size: 16px;
		color: var(--color-777777);
		margin-bottom: 25px;
		font-weight: 500;
	}
	
	h3 {
		font-size: 24px;
		font-weight: 600;
		color: var(--color-1c1c1b);
	}

	p {
		color: var(--color-777777);
		font-size: 14px;
	}

	img {
		width: 900px;
	}
}