.banner-zone {
  .img-main-banner {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
  }

  .img-sub-banner {
    width: 100%;
    padding: 0 5px 5px;
    border-radius: 10px;
    cursor: pointer;
  }
}