.review-wrapper {
	background-color: #fff;
	padding: 30px;
	
	.form-control {
		margin-top: 10px;
		margin-bottom: 8px;
		background-color: var(--color-f5f5f7);
		color: var(--color-777777);
		font-size: 14px;
		border-radius: 10px;
		border: transparent;
	}

	.title {
		font-weight: 600;
	}

	.title-review {
		color: var(--color-1c1c1b);
		font-weight: 500;
	}

	p {
		color: var(--color-777777) !important;
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 0;
	}
}

.review-form {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.review-head {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding-bottom: 20px;

	a, p {
		font-size: 14px;
		color: var(--color-777777) !important;
	}
}

.review {
	h6 {
		font-size: 20px;
		margin-left: 30px;
		color: var(--color-777777);
		font-weight: 500;
	}
	
	.comment {
		border-radius: 10px;
		background-color: var(--color-f5f5f7);
		padding: 20px;
		margin: auto;
		width: 95%;
	}
}

.description-wrapper {
	position: relative;

	p {
		font-size: 16px;
		color: var(--color-777777) !important;
	}

	.description-left {
		overflow: hidden;

		strong {
			color: #363636;
    	font-weight: 700;
		}

		h2 {
			font-size: 21px;
			font-weight: 400;
		}

		h3 {
			font-size: 16px;
			font-weight: 700;
			padding: 8px 0;
			margin: 0;
		}

		p {
			font-size: 15px;
			font-weight: 500;
			line-height: 1.5;
			margin: 0 0 10px;
		}	

		img {
			width: 100%;
		}
	}
	
	.show-less {
		max-height: 800px !important; 
	}
	.btn-show-more {
		position: absolute;
		width: 20%;
		border: 1px solid #ddd;
		right: 55%;
	}

	.technical-content {
		border: 1px solid #e5e7eb;
    border-radius: 10px;
    overflow: hidden;

		p {
			margin-bottom: 0;
			width: 40%;
		}

		div {
			width: 50%;
		}
	}

	.technical-content li:nth-child(odd) {
    background-color: #f2f2f2;
	}

	.technical-content .technical-content-item {
    font-size: 14px;
    width: 100%;
}
}

.main-product-wrapper {
	.border-img {
		border: 1px solid #ddd;
		border-radius: 5px;
		min-height: 450px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.slick-track {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.big-img {
		width: 70% !important;
		padding: 20px 5px;
		height: 100%;
		object-fit: cover;
	}

	h4 {
		color: var(--color-1c1c1b) !important;
	}

	.product-title {
		word-break: break-word;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--color-1c1c1b);
    line-height: 26px;
		margin-bottom: 0 !important;
	}

	.product-price {
		word-break: break-word;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--color-1c1c1b);
    margin: 0 0 10px;
    line-height: 26px;
    padding: 0 0 10px;
	}

	.policy {
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		margin: 35px 0 0;
    padding: 12px 0;
	}

	.policy-list {
		display: flex;
		flex-wrap: wrap;
		padding: 0 5px;
		margin-bottom: unset !important;

		li{
			width: 50%;
			padding: 0 0 0 30px;
			display: flex;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);

			div {
				font-size: 25px;
				color: #076cd7;
			}

			p {
				line-height: 20px;
    		padding-left: 5px;
				font-size: 14px;
				margin: 10px 0 5px 5px;
			}
		}

		li:last-child {
			border-bottom: none;
		}
	}

	.write-cmt{
		color: var(--color-777777);
		font-weight: 500;
		cursor: pointer;
	}

	.write-cmt:hover {
		text-decoration: underline;
	}

	.select-color {
		margin-top: 20px;

		.variants {
			display: flex;
			flex-wrap: wrap;
		}

		.variant {
			min-width: 120px;
			position: relative;
			user-select: none;
			font-weight: 500;
			border-radius: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 7px 20px;
			margin-right: 10px;
			cursor: pointer;
			border: 1px solid #d1d5db;
			margin-bottom: 8px;
		}

		.sold-out {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	.option-price {
		background: #eeeeef;
		padding: 2px 0;
		border-radius: 10px;

		.icon {
			background-image: url(https://cdn2.cellphones.com.vn/x35,webp/media/icon/pdp-trade-icon.png);
			background-size: 35px 33px;
			height: 33px;
			width: 35px;
		}

		.price-left {
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 5px;
				cursor: pointer;
				color: #4e4e4e;
				padding: 5px 10px;
				margin: 5px;
				transition: background-color .5s ease;

				.left {
					margin-left: 5px;
					display: flex;
					flex-direction: column;

					p {
						margin-bottom: unset;
					}
				}
			}

		.price {
			display: flex;
			flex-direction: column;
			text-align: center;
			border-radius: 5px;
			cursor: pointer;
			color: #4e4e4e;
			padding: 5px 10px;
			margin: 5px;
			transition: background-color .5s ease;

			p {
				margin-bottom: unset;
			}

			&__normal{
				font-size: 14px;
				color: #707070;
				display: inline-block;
				font-weight: 600;
				position: relative;
				top: 2px;
			}

			&__show {
				font-size: 16px;
				display: inline-block;
				font-weight: 900;
				line-height: 20px;
			}
	
			&__through {
				font-size: 14px;
				color: #707070;
				display: inline-block;
				font-weight: 600;
				position: relative;
				text-decoration: line-through !important;
				top: 2px;
			}
		}

		.price-active {
			color: #fd2424 !important;
			background: #fff;
			border: 1px solid red;
			box-shadow: 0 4px 4px rgba(255,0,0,.15), 0 -1px 1px rgba(255,0,0,.15);
		}
	}

	.active {
		border: 1px solid var(--color-red) !important;
	}
	
	.active:after {
		background-color: var(--color-red);
		border-radius: 10px 0 10px 0;
		color: #fff;
		content: "✓";
		font-size: 10px;
		height: 13px;
		left: 0;
		padding-bottom: 15px;
		padding-left: 4px;
		position: absolute;
		top: 0;
		width: 18px;
	}
	
}

.btn-show-form {
	font-size: 15px;
	color: var(--color-777777);
	font-weight: 500;
	cursor: pointer;
}

.label {
	font-size: 16px;
	font-weight: 600;
	color: var(--color-1c1c1b);
}

.info {
	font-size: 15px;
}

.badge {
	background-color: var(--color-ededed);
	color: #6c757d;
	border-radius: 0.3rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.po-sticky {
	position: sticky;
	top: 75px;
}

.btn-buy {
	display: flex;
	background: linear-gradient(#f52f32,#e11b1e);
	border: none;
	border-radius: 10px;
	color: #fff;
	flex-direction: column;
	height: 60px;
	margin-bottom: 10px;
	outline: none;
	padding-bottom: 10px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	margin-right: 10px;

	strong {
		font-size: 16px;
		font-weight: 700;
		color: #fff;
		margin-top: 8px;
	}
}

.btn-add-to-cart {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: initial;
	border: 2px solid #e04040;
	border-radius: 10px;
	flex-direction: column;
	height: 60px;
	color: #e04040;

	img {
		width: 30px;
		height: 30px;
	}

	span {
		font-size: 12px;
	}
}

.installment {
	background: linear-gradient(180deg,#3a78d0,#277cea) !important;
}

.trade {
	border: 1px solid #ddd;
	border-radius: 10px;
	margin-top: 10px;
	padding: 5px;

	ul {
		margin-top: 5px;
		list-style: disc;
		margin-left: 20px;
	}

	li {
		color: #323232;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 8px;
	}
}

.box-warranty-info {
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 5px;
	
	.box-header {
		color: #222222;
		display: flex;

		.icon {		
			font-size: 24px;
			margin-right: 8px;
		}

		p {
			font-size: 18px;
			margin-bottom: 0;
			font-weight: 700;
		}

		.note {
			font-size: 12px;
			font-weight: 500;
		}
	}

	.list-warranty {
		
		.warranty {
			margin: 5px;
			border: 1px solid #ddd;
			border-radius: 15px;
			padding: 5px 0 0 20px;
			cursor: pointer;
			position: relative;
			user-select: none;

			.title {
				color: #616161;
				font-weight: 600;
			}

			.price {
				color: #d02c35;
				font-weight: 600;
				margin-left: 15px;
			}
		}
	}
}


