* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-131921: #131921;
	--color-3b4149: #3b4149;
	--color-febd69: #febd69;
	--color-232f3e: #232f3e;
	--color-bf4800: #bf4800;
	--color-f5f5f7: #f5f5f7;
	--color-ededed: #ededed;
	--color-777777: #777;
	--color-1c1c1b: #1c1c1b;
	--color-cc0000: #cc0000;
	--color-red: #d70018;
	--color-red2: #fd2424;
}

/* .card-wrapper {
	background-color: #fff;
	box-shadow: 0 0 10px #0000001a;
	padding: 15px;
} */

body {
	font-family: "Roboto", sans-serif;
}

ul {
	padding: unset;
	list-style: none;
}

a {
	color: #1c1c1b;
	text-decoration: none;
	display: inline-block;
}

a:hover {
	color: #1c1c1b;
}

.form-control:focus {
	box-shadow: none;
	border-color: inherit;
}

.section-heading {
	font-size: 26px;
	line-height: 32px;
	font-weight: 500;
}

.boxshadow {
	box-shadow: 0 0 10px #0000001a;
	border-radius: 10px;
}

.gap-5 {
	gap: 5px !important;
}

.gap-10 {
	gap: 10px;
}

.gap-15 {
	gap: 15px;
}

.gap-30 {
	gap: 30px;
}

.container-xxl {
	max-width: 80%;
}

.btn-link-to {
	font-size: 16px;
	color: var(--color-red);
	font-weight: 600;
}

.btn-link-to:hover {
	color: var(--color-red2);
	text-decoration: underline;
}

.button {
	background-color: var(--color-red);
	color: white;
	font-size: 14px;
	padding: 13px 33px;
	border-radius: 10px;
}

.button:hover {
	background-color: var(--color-red2);
	color: white;
}

.link-to {
	font-size: 14px;
	font-weight: 600;
	color: var(--color-red);
}

.loader {
	background-color: #fff;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;

	.rotating {
		background-image: url(//demo-digitic.myshopify.com/cdn/shop/files/loader.gif?v=1655724735);
		background-position: center center;
    background-repeat: no-repeat;
    bottom: 0;
    height: auto;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
	}
}

.paginate {
	float: right;
}

/* Header Part */

.header-upper {
	background-color: var(--color-red);
	position: sticky;
	top: 0;
	z-index: 1000;

	.dropdown-cate {
		padding: 5px 10px;
		background-color: #df3346;
		border-radius: 15px;
		cursor: pointer;
		display: flex;
		align-items: center;
		margin-left: 15px;
		position: relative;
		user-select: none;

		.block-cate {
			border-radius: 15px;
			position: absolute;
			width: 200px;
			background-color: #fff;
			color: var(--color-1c1c1b);
			z-index: 1001;
			top: 60px;
			left: -160px;
			overflow: hidden;
			font-size: 14px;
			font-weight: 500;

			.cate {
				padding: 5px 15px;
			}

			.cate:hover {
				background-color: #f3f4f6;
				color: #d91e18;
			}
		}

		.overlay {
			background: rgba(0,0,0,.53);
			height: 100vh;
			left: 0;
			opacity: 0;
			position: fixed;
			top: 65px;
			transition: .3s;
			visibility: hidden;
			width: 100%;
		}

		.overlay-active {
			opacity: 1;
			visibility: visible;
		}
	}

	p{
		font-size: 14px;
	}
}

/* Header Part End Here */

/* Footer Part */

footer {
	background-color: #fff;
}

footer:not(:first-child) {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer .input-group-text {
	background-color: #232f3e;
	color: black;
	padding: 8px 17px;
}

/* Footer Part Ends Here*/

/* Home Page */

/* home wrapper 2 */

.home-wrapper-2 {
	background-color: var(--color-f5f5f7);
}

/* home wrapper 2 ends */

/* categories section */

.categories {
	background-color: #fff;
	box-shadow: 0 0 10px #0000001a;
	border-radius: 6px;

	picture {
		position: relative;
		border-radius: 50%;
		background-color: #f4f4f4;
    width: 95px;
    height: 95px;
		margin-bottom: 10px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}

	.cat-img {
		width: 60px;
		height: 60px;
	}

	.cat-border {
		border-right: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
		cursor: pointer;
	}

	.cat-border:hover {
		border-color: rgba(0,0,0,.12);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
		border-radius: 5px;
	}
}

/* categories section ends */

.filter-card {
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 15px 20px 25px;
}

.filter-title {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	color: var(--color-1c1c1b);
	margin-bottom: 20px;
}

.filter-card ul, .form-check-label  {
	list-style-type: none;
	font-size: 13px;
	line-height: 30px;
	color: var(--color-777777);
	cursor: pointer;
}

/* Home Page Ends Here */

/* Blog Path */

.blog-card {
	background-color: #fff;
	border-radius: 10px;
}

.blog-card img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.blog-content {
	padding: 15px;
}

.blog-content .date {
	font-size: 13px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0;
	font-weight: 400;
	color: var(--color-777777);
	padding: 0;
}

.blog-content h5 {
	font-size: 18px;
	color: var(--color-131921);
}

.blog-content p.desc {
	font-size: 13px;
	line-height: 22px;
	color: var(--color-777777);
}

/* Blog Path Ends */

/* Product Card */

.product-card {
	background-color: #fff;
	width: 100%;
	min-height: 202px;
	padding: 10px 15px 35px;
	position: relative;
	margin-bottom: 10px;
	max-width: 247px;

	.product-img {
		width: 160px;
		height: 160px;
	}

	.product-name {
		margin-top: 10px;

		h3 {
			font-size: 15px;
			font-weight: 700 !important;
			height: 50px;
			overflow: hidden;
		}
	}

	.product-price {
		align-items: flex-end;
    color: #444;
    display: flex;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1.4;

		&__show {
			font-size: 16px;
			color: var(--color-red);
			display: inline-block;
			font-weight: 700;
			line-height: 1.1;
			margin-bottom: 10px;
		}

		&__through {
			font-size: 14px;
			color: #707070;
			display: inline-block;
			font-weight: 600;
			margin: 0 0 10px 10px;
			position: relative;
			text-decoration: line-through !important;
			top: 2px;
		}
	}

	.add-wishlist {
		bottom: 10px;
		right: 10px;
    position: absolute;
		display: flex;
		color: var(--color-777777);
		cursor: pointer;

		span {
			font-size: 13px;
			margin-right: 5px;
		}

		img {
			vertical-align: unset;
			width: 16px;
			height: 16px;
		}
	}

	.product-price-percent {
		background: url("../public/images/price.svg") 50% no-repeat;
    height: 31px;
    left: -15px;
    position: absolute;
    top: -1px;
    width: 80px;
		margin: 0 0 10px 10px;
		z-index: 100;

		&__detail {
			color: #fff;
			font-size: 12px;
			font-weight: 700;
			margin: 5px 0 0;
			text-align: center;
			width: 100%;
		}
	}
}

/* Product Card Ends Here */

// Search

.search {
	display: flex;

	.ant-input:focus {
		box-shadow: none;
	}

	.ant-input {
		padding: unset;
	}
	
	.input-search {
		height: 35px;
		width: 300px;
		background-color: #fff !important;
		border-radius: 20px;
		border-top-left-radius: unset;
		border-bottom-left-radius: unset;
		border: unset;
		padding-left: 5px;
	}

	.btn-search {
		padding-left: 10px;
		height: 35px;
		width: 35px;
		border-radius: 20px;
		border-top-right-radius: unset;
		border-bottom-right-radius: unset;
		background-color: #fff !important;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--color-777777);
	}
}

// End Search

